-e git+https://github.com/federulli/torrent_searcher.git#egg=torrent_searcher
-e git+https://github.com/federulli/qbitorrent_api.git#egg=qbitorrent_api
django
djangorestframework
python-dateutil
lxml
purl
celery==5.2.2
django-celery
subliminal
schedule
redis
rarbgapi
structlog